@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --roxo:#75619D;
    --roxo-claro:#BEAEDB;
    --fundo:#e5edf4;
    --branco:#ffffff;
    --titulo:#b05ca0; 
    --texto:#151013;
    --sombra:#715a9d;
    --transiçao:0.3s ease;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgb(203, 185, 220),rgb(100, 67, 113));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:var(--texto);
    min-height: 100vh;
    display:flex;
    flex-direction:column;
   
}

.radio-nav,
.radio-carrossel,
.checkbox-expandir{
    display:none;
}

.main-header{
    background: var(--fundo);
    padding: 0;
    box-shadow:var(--sombra);
    position:sticky;
    top:0;
    z-index:1000;

}
.logo{
    width: 100%;
    text-align: center;
   
}
.logo h1 {
    padding: 1rem;
    color: #b05ca0;
    font-family: "Gravitas One", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style:normal;
}
.logo p{
    padding: 0 1rem 1.5rem 1rem;
    color:var(--roxo);
    font-family: "Gravitas One", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style:italic;
    
}

.busca{
    background: var(--roxo);
    box-shadow: var(--sombra);
    padding: 0.5rem;
    display: flex;
    
}

.busca input{
    background:var(--fundo);
    padding:0.5rem;
    outline:none;
    max-width:200px;
    margin-left: auto;
}

.busca button{
    background:var(--roxo-claro);
    padding:0 1.2rem;
    cursor:pointer;
    transition:var(--transicao);
}

.menu-topo{
    background:var(--roxo);
    position:sticky;
    top:130px;
    z-index:999;
}

.menu-topo ul{
    list-style:none;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

.label-nav{
    display:block;
    padding:1rem 2rem;
    color:var(--fundo);
    cursor:pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    transition:var(--transicao);
}
.label-nav:hover{
    background:var(--sombra);
    color:white;
}

#tab-home:checked ~ .layout-container .btn-home,
#tab-html:checked ~ .layout-container .btn-html,
#tab-css:checked ~ .layout-container .btn-css,
#tab-referencias:checked ~ .layout-container .btn-referencias{
    background:var(--sombra);
    color:white;
}
/*home*/
.conteudo-principal{
    background: var(--fundo);
    flex:1rem;
    width:90%;
    max-width:1200px;
    margin:auto;
    padding:2rem 3rem;
}

.sec-conteudo{
    display:none;
    animation:fade 0.4s ease;
}

@keyframes fade{
    from{
        opacity:0;
        transform:translateY(15px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

#tab-home:checked ~ .layout-container .sec-home,
#tab-html:checked ~ .layout-container .sec-html,
#tab-css:checked ~ .layout-container .sec-css,
#tab-referencias:checked ~ .layout-container .sec-referencias{
    display:block;
}

h2{
    font-size:2rem;
    margin-bottom:2rem;
}

.sec-home{
    gap:1.5rem;
}

.card-noticia,
.card-html{
    background:var(--branco);
    border-radius:2px;
    padding:1.8rem;
    box-shadow:var(--sombra);
    transition:var(--transicao);
}

.card-noticia:hover,
.card-html:hover{
    transform:translateY(-6px);
}

.card-noticia h3{
    margin:1rem 0;
    line-height:1.5;
}

.card-noticia p{
    color:var(--texto);
    line-height:1.7;
}

.tag{
    background:var(--fundo);
    color:var(--roxo);
    padding:0.4rem 0.9rem;
    border-radius:999px;
    font-size:0.9rem;
    font-weight:"Montserrat", sans-serif;
    font-style: oblique;
    display:inline-block;
}

mark{
    background:var(--fundo);
    padding:0.1rem 0.3rem;
    border-radius:4px;
}

.btn-ler-mais{
    display:inline-block;
    margin-top:1rem;
    font-weight:"Gravitas One", serif;
    font-style: italic;
    color:var(--roxo);
    cursor:pointer;
}

.btn-ler-mais::before{
    content:"Ler mais ▼";
}

.checkbox-expandir:checked ~ .btn-ler-mais::before{
    content:"Ler menos ▲";
}

.conteudo-oculto{
    max-height:0;
    overflow:hidden;
    opacity:0;
    transition:0.4s ease;
}

.checkbox-expandir:checked ~ .conteudo-oculto{
    max-height:500px;
    opacity:1;
    margin-top:1rem;
}

/*html*/

.sec-html{
    display:none;
}

.carrossel-viewport{
    margin-top:2rem;
}

.carrossel-track{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(220px,1fr));
    gap:1.5rem;
}

.card-html{
    border-top:5px solid var(--roxo);
}

.card-html h4{
    color:var(--roxo);
    font-size:1.2rem;
    margin-bottom:1rem;
}

.card-html p{
    color:var(--texto);
    line-height:1.6;
}



/* FOOTER */

.footer{
    background:var(--sombra);
    color:white;
    text-align:center;
    padding:2rem 1rem;
    margin-top:auto;
}

.footer time{
    font-weight:bold;
}

/*Responsavidade*/
